include mixins/_flashes

doctype html
html(lang="en-US")

  include includes/head.pug

  body.bg-hotpink
    include includes/header.pug

    block flashes
      +flashes(nap)

    main.mt2.md-mt3.lg-mt4.container      
      block content
